@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para el heatmap */
.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}
.react-calendar-heatmap .react-calendar-heatmap-weekday-labels {
  display: none; /* Opcional: Ocultar días de la semana */
}

/* Escala de colores (0 es vacío, 4 es óptimo) */
.color-empty {
  fill: #161b22;
} /* Fondo oscuro tipo GitHub */
.color-scale-1 {
  fill: #0e4429;
}
.color-scale-2 {
  fill: #006d32;
}
.color-scale-3 {
  fill: #26a641;
}
.color-scale-4 {
  fill: #39d353;
} /* Verde brillante GitHub */
